# Backend
PORT=4000
# comma-separated list of allowed frontend origins (for cookies/credentials)
CORS_ORIGINS=http://localhost:3000

# Database (STEP 3/4)
DATABASE_URL=DATABASE_URL=postgresql://aoe_user:Matvei007@192.248.176.241:5432/aoe_db?schema=public&sslmode=disable

# Steam Web API (used to fetch Steam nickname/personaname during Steam OpenID callback)
STEAM_WEB_API_KEY=9F0005E0ADFC6E09D34F597D55AA422E

# STEP 5 (Firestore import)
# Path to Firebase service account JSON (do NOT commit it)
GOOGLE_APPLICATION_CREDENTIALS=C:\Users\matve\Downloads\oaee-e12aa-firebase-adminsdk-fbsvc-0b35f3cd38.json
# Firebase project id (e.g. "my-project")
FIREBASE_PROJECT_ID=oaee-e12aa
